@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css");  /*Icones do place holder*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
margin: 0;
padding: 0;
}

body{
margin: 0;
padding: 0;
background-color: #dadada;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #54B5EC;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-top: 60px;
    transition: left 0.3s;
}
.sidebar a {
    display: block;
}
.sidebar-hidden {
    left: -250px;
}
.menu-toggle {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    cursor: pointer;
}

/* .sidebar-usuario  */


.sidebar-usuario {
    width: 100%;
    position: relative;
    padding: 10px;
   
}

.sidebar-usuario h1{
    font-size: 18pt;
    background-color: #E6E6E6;
    padding: 15px 20px;
    border-radius: 20px;
    text-align: center;
}
.sidebar-usuario i{
    position: absolute;
    top: 18px;
    left: 8%;
    font-size: 20pt;


}

/* menu-header */

.menu-header{
    width: 100%;
    position: relative;
    

}


.menu-header{
    width: 100%;
}


.menu-header p{
color: white;}


.menu-header p:hover{
    background-color: #ade0fe;
    color: black;


}
    
    



.menu-header .chevron{
    color: white;
    position: absolute;
    top: 1px;
    left: 90%;

}
    



.menu-header .options {
    position: absolute;
    top: 22px;
    left: 12%;
    
   
}
   

.menu-header .options a{
    color: black;
    text-decoration: none;
    width: 12vw;
    background-color: #E6E6E6;

}

.menu-header .options a:hover{
    background-color: #ade0fe;
    color: black;

}

/* menu-calendar   */

.menu-calendar{
    width: 100%;

}
.menu-calendar a{
    font-size: 12pt;
    text-decoration: none;
    color: white;
    
}

.menu-calendar a:hover{
    background-color: #ade0fe;
    color: black;
  
    
}


/* Sair */

.Sair{
    width: 100%;
}
.Sair a{
    color: white;
    position: absolute;
    top: 95%;
    left: 35%;

    
}

.Sair a:hover{
    color: black;

    
}

/* Conteúdo principal da página */
.container{
    width: 100%;
}
.container h1{
margin-top: 20px;}
.container-total{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container-Pacientes{
    position: absolute;
    width: 300px;

}

.container-Pacientes p{
background-color: #EEEEEE;
padding: 10px 70px;
width: 12vw;
border-radius: 15px 0px 15px 0px;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}
.container-total10 h2{
    font-size: 35pt;
}

.container-total10{
    position: absolute;
    z-index: 99;
    top:5px ;
    left:5px ;

}
    
.container-tabale{
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 5cm;

}   


.container-palavra{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.container-Incluir {
    margin-top: 5px;
}

.container-Incluir a{
    padding: 8px;
    background-color: #54B5EC;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14pt;
    

}

.container-Incluir a:hover{
    color: black;
}


.container-Pesquisar{
    margin-top: 5px;
    position: relative;
   


}

.container-Pesquisar label{
    position: absolute;
    top: 5px;
    left: 85%;
    font-size: 16pt;
}

.container-Pesquisar input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #E8EFF2;
    font-size: 12pt;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.4);
    
}

.container-Pesquisar i{
   color: #54B5EC;
    
}

.table {
    --bs-table-bg: #EEEEEE;
    width: 100%;
    margin-bottom: 1px;
    border: 2px solid #A7A7A7;
    border-color: #A7A7A7;
    text-align: center;

}


.container-footer{
    display: grid;
    grid-template-columns: 42% auto auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;

}

.container-footebutton{
    width: 100%;
    height: auto;

}
.container-footebutton button{
    background-color: #54B5EC;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.4);

    
}

.container-footebutton a{
    text-decoration: none;
    color: white;
}


.container-footebutton a:hover{
    color: black;
}

.container-exibir{
    display: flex;
    width: 100%;
    position: relative;
}

.container-exibir #Exibir{
    position: absolute;
    top: 5px;
    left: 50%;
    
}

.container-exibir #por{
    position: absolute;
    top: 5px;
    left: 80%;
}

.container-exibir input{
    position: absolute;
    width: 12%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #E8EFF2;
    font-size: 12pt;
    box-shadow: 0px 0px 10px 0px   rgba(0, 0, 0, 0.4);
    left: 65%;
    }








@media (max-width: 1820px) {
    .container{

margin-left:250px;

    }

}

@media (max-width: 930px) {
    .sidebar {
        left: -250px;
    }
    .sidebar.sidebar-open {
        left: 0;
    }
    .menu-toggle {
        display: block;

    }

    element.style {
        margin-left: 0;
    }

    .container{
        margin-top: 2cm;
        margin-left:0;


    }

    .container-tabale{
        width: 100vh;
    }

    .container-footer{
        grid-template-columns: auto auto 40%;
    
    }
   

    
    
}


